// Disable everything but WebKit
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-khtml: false;

@import 'compass';
@import 'recipes';

$base-color-light:	#b6121b;
$base-color-dark:	#960b11;

// background_noise - Default values
// $sassy-noise-intensity-default:  0.5;
// $sassy-noise-opacity-default:    0.08;
// $sassy-noise-size-default:       200;
// $sassy-noise-mono-default:       false;


#jqt {
	.login_background
	{
		@include background-image(
			background_noise($size: 512, $opacity: .1, $mono: true, $intensity: 0.2),
			radial-gradient(center, ellipse cover,  $base-color-light, $base-color-dark)
		);
	}
}

