obj/
csx/
Profiles/
StatProRevolutionMobile/
WebRole/obj/
WebRole/bin/
WebRole/public/themes/scss/.sass-cache/*
#Ignore cloud configuration files.
*.cscfg
*.csdef
*.ccproj
*.ccproj.user
*.favdoc
#Ignore thumbnails created by Windows.
Thumbs.db
#Ignore files build by Visual Studio.
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sln
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
obj/Debug/revappdev.ccproj.FileListAbsolute.txt
revappdev.ccproj.user
revappdev.favdoc
revappdev.sln.docstates.suo
WebRole/bin/WebRole.dll
WebRole/bin/WebRole.pdb
WebRole/obj/Debug/WebRole.dll
WebRole/obj/Debug/WebRole.pdb
WebRole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebRole/WebRole.Publish.xml
WebRole/server.js.logs/0.txt
WebRole/WebRole.csproj.user