obj/
csx/
WebRole/obj/
WebRole/bin/
WebRole/public/themes/scss/.sass-cache/*
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
WebRole/obj/Debug/WebRole.pdb
WebRole/obj/Debug/WebRole.pdb
WebRole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
revappdev.sln.docstates.suo
WebRole/public/themes/css/Copy of mobile.css
WebRole/obj/Debug/WebRole.dll
WebRole/bin/WebRole.dll
WebRole/bin/WebRole.pdb
WebRole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebRole/obj/Debug/WebRole.dll
WebRole/obj/Debug/WebRole.pdb
revappdev.sln.docstates.suo
obj/Debug/revappdev.ccproj.FileListAbsolute.txt
revappdev.favdoc
revappdev.sln.docstates.suo
obj/Debug/revappdev.ccproj.FileListAbsolute.txt
revappdev.favdoc
revappdev.sln.docstates.suo
WebRole/WebRole.Publish.xml
obj/Debug/revappdev.ccproj.FileListAbsolute.txt
revappdev.favdoc
revappdev.sln.docstates.suo
WebRole/server.js.logs/0.txt
obj/Debug/revappdev.ccproj.FileListAbsolute.txt
WebRole/server.js.logs/0.txt
WebRole/WebRole.csproj.user
