#analysisSummaryTitle
	.summaryTitle
		- if (name.indexOf(' ') === -1)
			h2(style='word-break: break-all;') #{name}
		- else
			h2 #{name}
		- each benchmark in analysis.benchmarks
			h3 vs #{benchmark.name}

	.summaryReturn
		h2#timePeriodStartDateText
		h3 Start Date
	.summaryReturn
		h2#timePeriodEndDateText
		h3 End Date