#page
	#jqt
		#home
			.toolbar
				#toolbar_logo
				// h1 Revolution
				// a#portfoliosButton.button(href='#') Portfolios
			#wrapper
				#scroller
					ul.rounded
						li.arrow 
							a#portfoliosButton.slide(href='#portfolios') Portfolios
						li.arrow 
							a#eulaButton.slide(href='#eula') View EULA
						li.arrow 
							a#testButton(href='/test.htm', rel='external') Test
		
					#home_partial

		#portfolios
			.toolbar
				h1 Portfolios
				a.back(href='#') Back
			#wrapper
				#scroller
					#portfolios_partial
		
		#portfolioAnalysis
			.toolbar
				h1 Portfolio Analysis
				a.back(href='#') Back
			#wrapper
				#scroller
					#portfolioAnalysis_partial
		
		#analysis
			.toolbar
				h1 Analysis
				a.back(href='#') Back
			#wrapper
				#scroller
					#analysis_partial					

		#eula
			.toolbar
				h1 EULA
				a.back(href='#') Back
			#wrapper
				#scroller
					#eula_partial

		#test
			.toolbar
				h1 test
				a.back(href='login.htm') Back
			#wrapper
				#scroller
					#test_partial

	nav#tabbar
		ul
			li
				a#tabbar_btnHome
					strong Home
					.home
			li
				a#tabbar_btnPortfolios
					small#badge_portfolios.badge.right(style="display: none;") 99+
					strong Portfolios
					.portfolios
			li
				a#tabbar_btnAnalysis
					strong Analysis
					.analysis
			li
				a#tabbar_btnTimePeriods
					strong Time Periods
					.timeperiods
			li
				a#tabbar_btnInfos
					strong Infos
					.infos
			//
				li
					select#lol
						optgroup(label="Swedish Cars")
							option(value="volvo") Volvo
							option(value="saab") Saab
						optgroup(label="German Cars")
							option(value="mercedes") Mercedes
							option(value="audi") Audi
#myloading
	img(src='img/loading.gif' )
