#page
	#jqt
		#dashboard // TODO: Change the name in #home
			.toolbar
				#toolbar_logo
				// h1 Dashboard
				// a#portfoliosButton.button(href='#') Portfolios
			#wrapper
				#scroller
					ul.rounded
						li.arrow 
							a#portfoliosButton.slide(href='#portfolios') Portfolios
						li.arrow 
							a#eulaButton.slide(href='#eula') View EULA
						li.arrow 
							a#testButton(href='/test.htm', rel='external') Test
		
					#dashboard_partial

		#portfolios
			.toolbar
				h1 Portfolios
				a.back(href='#') Back
			#wrapper
				#scroller
					#portfolios_partial
		
		#portfolioAnalysis
			.toolbar
				h1 Portfolio Analysis
				a.back(href='#') Back
			#wrapper
				#scroller
					#portfolioAnalysis_partial
		
		#analysis
			.toolbar
				h1 Analysis
				a.back(href='#') Back
			#wrapper
				#scroller
					#analysis_partial

		#eula
			.toolbar
				h1 EULA
				a.back(href='#') Back
			#wrapper
				#scroller
					#eula_partial

		#test
			.toolbar
				h1 test
				a.back(href='login.htm') Back
			#wrapper
				#scroller
					#test_partial

	#loading
		p
			img(src='img/loading.gif')

	nav#tabbar
		ul
			li
				a#dashboard_tabbar.current.flip(href='#dashboard')
					strong Home
					.dashboard
			li
				//a#portfolios_tabbar(href="#", onclick="openOneSlot()) // (href="#portfolios")
				a(onclick="MobileApp.showPortfoliosSlot()")
					small#badge_portfolios.badge.right(style="display: none;") 99+
					strong Portfolios
					.portfolio
			li
				//a#analysis_tabbar.flip(href='#')
				a(onclick="MobileApp.showAnalysisSlot()")
					strong Analysis
					.analysis
			li
				a#about_tabbar.flip(href='#')
					strong Infos
					.infos
			//
				li
					select#lol
						optgroup(label="Swedish Cars")
							option(value="volvo") Volvo
							option(value="saab") Saab
						optgroup(label="German Cars")
							option(value="mercedes") Mercedes
							option(value="audi") Audi
#myloading
	img(src='img/loading.gif' )