#login_page
	.toolbar 
		h1 Revolution
	ul.rounded
		li
			input#userNameTextbox(type='text', placeholder="User Name", value='asa.fama@statpro.com')
		li
			input#passwordTextbox(type='password', placeholder="Password", value='StatPro123')
	ul.individual	
		li
			a#loginButton(href='#') Login
		li
			a#cancelButton(href='#') Cancel