#login
	.toolbar
		h1 login
	
	ul.rounded
		li
			input#userNameTextbox(type='text', placeholder='User Name', name='user[username]', value='asa.fama@statpro.com')
		li
			input#passwordTextbox(type='password', placeholder='Password', name='user[password]', value='StatPro123')
	ul.individual
		li
			a#loginButton(href='#') Login

#index
	.toolbar
		h1 Index

#dashboard
	.toolbar
		h1 Dashboard
		// a#portfoliosButton.button(href='#') Portfolios
	ul.rounded
		li.arrow 
			a#portfoliosButton(href='#') Portfolios
		li.arrow 
			a#eulaButton(href='#') View EULA
		li.arrow 
			a#testButton(href='#') Test
		
	#dashboard_body

#portfolios
	.toolbar
		h1 Portfolios
		a.back(href='#') Back
	#wrap_portfolios
		#scroll_portfolios
			#portfolios_body // change it in #portfolios_partialview
		
#eula
	.toolbar
		h1 EULA
		a.back(href='#') Back
	#wrap_eula
		#scroll_eula
			#eula_body

#test
	.toolbar
		h1 test
		a.back(href='#') Back
	#wrap_test
		#scroll_test
			#test_body
