#page
	#jqt
		#dashboard
			.toolbar
				h1 Dashboard
				// a#portfoliosButton.button(href='#') Portfolios
			#wrapper
				#scroller
					ul.rounded
						li.arrow 
							a#portfoliosButton(href='#') Portfolios
						li.arrow 
							a#eulaButton(href='#') View EULA
						li.arrow 
							a#testButton(href='login.htm?url=') Test
		
					#dashboard_body

		#portfolios
			.toolbar
				h1 Portfolios
				a.back(href='#') Back
			#wrapper
				#scroller
					#portfolios_body // change it in #portfolios_partialview
		
		#eula
			.toolbar
				h1 EULA
				a.back(href='#') Back
			#wrapper
				#scroller
					#eula_body

		#test
			.toolbar
				h1 test
				a.back(href='login.htm') Back
			#wrapper
				#scroller
					#test_body

	#loading
		p
			img(src='img/loading.gif')

	nav#tabbar
		ul
			li
				a.current.flip(href='#login')
					strong Revolution
					.home
			li
				a.flip(href='#dashboard')
					strong Cloud
					.rss
			li
				a.flip(href='#portfolios')
					small#badge_portfolios.badge.right(style="display: none;") 99+
					strong Portfolios
					.twitter
			li
				a.flip(href='#flickrlist')
					strong Trends
					.flickr
			li
				a.flip(href='#search')
					strong Search
					.search2