#login
	.toolbar
		h1 Revolution
	
	form(method='post', action='/login')
		ul.rounded
			li
				input#userNameTextbox(type='text', placeholder='User Name', name='user[username]', value='daniel.attfield@statpro.com')
			li
				input#passwordTextbox(type='password', placeholder='Password', name='user[password]', value="StatPro123")
		ul.individual
			li
				input(type='submit', value='Login')