!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
	//, manifest="no_cache.manifest" 
	head
		title Revolution
		// itabbar metatags.
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		meta(name='viewport', content='width=device-width,user-scalable=no')

		// iPad icon/splash
		link(rel='apple-touch-icon', href='/images/icon.png')
		link(rel='apple-touch-startup-image', href='/images/splash-portrait.gif', media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)')
		link(rel='apple-touch-startup-image', href='/images/splash-landscape.gif', media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 1)')
		link(rel='apple-touch-startup-image', href='/images/splash-landscape-retina.gif', media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)')

		// Styles
		style(type='text/css', media='screen')
			@import "/themes/css/mobile-dark.css";
		style(type='text/css', media='screen')
			@import "/themes/css/login.css";

		// itabbar stuffs.
		link(rel='stylesheet', href='stylesheets/itabbar.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/add2home.css')
		link(rel='stylesheet', href='stylesheets/spinningwheel.css')
		link(rel='stylesheet', href='stylesheets/login.css')
		// link(rel='stylesheet', href='stylesheets/swipeview.css')

		// Google Visualization API & Package
		script(src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1"}]}', type='text/javascript', charset='utf-8')

		// Scripts
		script(src='/src/iscroll.js', type='text/javascript', charset='utf-8')
		script(src='/src/zepto.js', type='text/javascript', charset='utf-8')
		script(src='/src/gesture.js', type='text/javascript', charset='utf-8')
		script(src='/src/jqtouch.js', type='text/javascript', charset='utf-8')
		// script(src='/src/jquery.tappable.js', type='text/javascript', charset='utf-8')
		script(src='/src/spinningwheel.js', type='text/javascript', charset='utf-8')		
		script(src='/src/jlinq.js', type='text/javascript', charset='utf-8')	
		// script(src='/src/swipeview.js', type='text/javascript', charset='utf-8')

		// script(type='text/javascript', src='src/jqt.autotitles.min.js')
		script(type='text/javascript', src='src/add2home.js', charset='utf-8')

		// Loader
		script(src='/javascripts/webapp.loader.js', type='text/javascript', charset='utf-8')
		
		// Plugins
		script(src='/javascripts/plugins/webapp.base64.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/plugins/webapp.helper.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/plugins/webapp.storage.js', type='text/javascript', charset='utf-8')

		// Loader Extensions (extensions must be added after the plugins and before the other modules)
		// script(src='/javascripts/extensions/webapp.eventManager.js', type='text/javascript', charset='utf-8')
		// script(src='/javascripts/extensions/webapp.consoleManager.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/extensions/webapp.dataObject.js', type='text/javascript', charset='utf-8')

		// Controls
		script(src='/javascripts/controls/webapp.toolbar.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/controls/webapp.portfoliosList.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/controls/webapp.tabbar.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/controls/webapp.spinningWheel.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/controls/webapp.scroll.js', type='text/javascript', charset='utf-8')
		// script(src='/javascripts/controls/webapp.swipeview.js', type='text/javascript', charset='utf-8')

		// Shared
		script(src='/javascripts/shared/webapp.settings.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.pageElements.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.localizationManager.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.lang.it-it.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.lang.en-us.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.localizationManager.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.chartDefaults.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.chartManager.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.loadingMaskManager.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.localStorageManager.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.chartsManager.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/shared/webapp.colorManager.js', type='text/javascript', charset='utf-8')

		// Modules
		script(src='/javascripts/modules/webapp.auth.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/modules/webapp.test.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/modules/webapp.repositories.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/modules/webapp.pageEventsManager.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/modules/webapp.nav.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/modules/webapp.portfolioManager.js', type='text/javascript', charset='utf-8')		
		script(src='/javascripts/modules/webapp.analysisManager.js', type='text/javascript', charset='utf-8')		

		// Pages
		script(src='/javascripts/pages/webapp.dashboard.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/pages/webapp.analysisSettingsPage.js', type='text/javascript', charset='utf-8')

		script(src='/javascripts/webapp.main.js', type='text/javascript', charset='utf-8')

	body!= body
	
	script(type='text/javascript', src='src/itabbar.js')	
	
	// script WebAppLoader.init();
	// script(type='text/javascript', src='https://getfirebug.com/firebug-lite.js#startOpened ')