!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
	//, manifest="no_cache.manifest" 
	head
		title Revolution
		// itabbar metatags.
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black')
		meta(name='viewport', content='width=device-width,user-scalable=no')

		// iPad icon/splash
		link(rel='apple-touch-icon', href='/images/icon.png')
		link(rel='apple-touch-startup-image', href='/images/splash-portrait.gif', media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)')
		link(rel='apple-touch-startup-image', href='/images/splash-landscape.gif', media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 1)')
		link(rel='apple-touch-startup-image', href='/images/splash-landscape-retina.gif', media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)')

		// Styles
		style(type='text/css', media='screen')
			@import "/themes/css/mobile-dark.css";
		style(type='text/css', media='screen')
			@import "/themes/css/login.css";

		// itabbar stuffs.
		link(rel='stylesheet', href='stylesheets/itabbar.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/add2home.css')
		link(rel='stylesheet', href='stylesheets/spinningwheel.css')
		link(rel='stylesheet', href='stylesheets/login.css')

		// Scripts
		script(src='/src/iscroll.js', type='text/javascript', charset='utf-8')
		script(src='/src/zepto.js', type='text/javascript', charset='utf-8')
		script(src='/src/gesture.js', type='text/javascript', charset='utf-8')
		script(src='/src/jqtouch.js', type='text/javascript', charset='utf-8')
		script(src='/src/jquery.tappable.js', type='text/javascript', charset='utf-8')
		script(src='/src/spinningwheel.js', type='text/javascript', charset='utf-8')		
		script(src='https://www.google.com/jsapi', type='text/javascript', charset='utf-8')

		script(type='text/javascript', src='src/jqt.autotitles.min.js')
		script(type='text/javascript', src='src/add2home.js', charset='utf-8')

		script(src='/javascripts/helper.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/main.js', type='text/javascript', charset='utf-8')

	body!= body

	// Load Google Visualization packages
	script(type='text/javascript')
		google.load('visualization', '1', { packages: ['corechart', 'table', 'gauge', 'treemap'] });

	script(type='text/javascript', src='src/itabbar.js')	
	script(src='/javascripts/charts/performanceColumnChart.js', type='text/javascript', charset='utf-8')
	script(src='/javascripts/charts/performanceSummaryGrid.js', type='text/javascript', charset='utf-8')
	script(src='/javascripts/charts/performanceBubbleChart.js', type='text/javascript', charset='utf-8')
	script(src='/javascripts/charts/performanceHeatmapChart.js', type='text/javascript', charset='utf-8')
	script(src='/javascripts/charts/performanceLineChart.js', type='text/javascript', charset='utf-8')
	script(src='/javascripts/charts/riskGaugeChart.js', type='text/javascript', charset='utf-8')

	// script(type='text/javascript', src='https://getfirebug.com/firebug-lite.js#startOpened ')
