!!! strict
html(xmlns='http://www.w3.org/1999/xhtml')
	
	head
		style(type='text/css', media='screen')
		style(type='text/css', media='screen')
			@import "/themes/css/jqtouch.css";
		script(src='/src/lib/zepto.min.js', type='text/javascript', charset='utf-8')
		script(src='/src/jqtouch.min.js', type='text/javascript', charset='utf-8')
		script(src='/javascripts/main.js', type='text/javascript', charset='utf-8')
		link(rel='apple-touch-icon', href='/images/icon.png')
		link(rel='apple-touch-startup-image', href='/images/splash.png', media='screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)')

	body!= body