// .scroll
h1.elegant(style="padding-top: 10px;") Balanced
.dark-box(style="height:500px; padding-top: 10px;")
	#chart(style="width:728px; height: 381px; margin:0 auto;")
		img(src="images/test_chart.png")
	.toolbox
		#btn_performance.gray_button
		#btn_risk.gray_button
		#btn_asset.gray_button
		#btn_contribution.gray_button
		#btn_attribution.gray_button
		#btn_fixed-income.gray_button
		#btn_balanced.gray_button

h1.elegant Portfolios
#portfolio_list
	#wrapper-mylist.light-box(style="width: 50%; height: 300px")
		#scroll
			ul(style="")
				- each item in items
					li.small-list(style="width: 98%; margin: 10px; background-color: transparent")
						a.defaultAnalysisLink(data-link="#{item.links.defaultAnalysis.href}")(href="#portfolioAnalysis") #{item.name}
						//#{item.links.defaultAnalysis.href}