#page
	#jqt
		#login.login_background
			#login_content
				.login_r
				ul.rounded.login_style
					li.login_style
						div
							input#userNameTextbox.login_style(type='email', placeholder='User Name', name='user[username]', value='asa.fama@statpro.com')
					li.login_style
						div
							input#passwordTextbox.login_style(type='password', placeholder='Password', name='user[password]', value='StatPro123')
				ul.rounded
					li.login_button
						a#loginButton(href='#') Login
				p.login_style Sign Up | Support

//
	#login
		.toolbar
			h1 #{title}
	
		form(method='post', action='/authenticate')
			input(type='hidden', value='#{url}')
			ul.rounded
				li
					input#userNameTextbox(type='text', placeholder='User Name', name='user[username]', value='#{usr}')
				li
					input#passwordTextbox(type='password', placeholder='Password', name='user[password]', value="#{pw}")
			ul.individual
				li
					a.submit(href='#') Login
					input(type='submit') Submit

	#index
		.toolbar
			h1 Index