<root>
    <FileGroup Name="public/javascripts/webapp.mashed.js" Minify="false">
        <File Path="public/javascripts/webapp.loader.js" />
        <Folder Pattern="public/javascripts/plugins/*.js" />
        <Folder Pattern="public/javascripts/extensions/*.js" />
        <Folder Pattern="public/javascripts/controls/*.js" />
        <Folder Pattern="public/javascripts/shared/*.js" />
        <Folder Pattern="public/javascripts/modules/*.js" />
        <Folder Pattern="public/javascripts/pages/*.js" />
        <File Path="public/javascripts/webapp.main.js" />
    </FileGroup>
</root>

