<root>
    <FileGroup Name="public/javascripts/webapp.mashed.js" Minify="false">
        <!-- JQT *** Please don't change order and position of these four files *** -->
        <File Path="public/src/zepto.js" />
        <File Path="public/src/comma.js" />
        <File Path="public/src/jqtouch.js" />
        <File Path="public/src/jqt.themeswitcher.js" />

        <!-- Scripts -->
        <File Path="public/src/iscroll.js" />
        <File Path="public/src/gesture.js" />
        <File Path="public/src/selector.js" />
        <File Path="public/src/spinningwheel.js" />
        <File Path="public/src/jlinq.js" />
        <File Path="public/src/jquery.swipeButton-1.2.0.js" />
        <File Path="public/src/date.js" />
        <File Path="public/src/add2home.js" />
        <File Path="public/src/itabbar.js" />

        <!-- Web App -->
        <File Path="public/javascripts/webapp.loader.js" />
        <Folder Pattern="public/javascripts/plugins/*.js" />
        <Folder Pattern="public/javascripts/extensions/*.js" />
        <Folder Pattern="public/javascripts/controls/*.js" />
        <Folder Pattern="public/javascripts/shared/*.js" />
        <Folder Pattern="public/javascripts/modules/*.js" />
        <Folder Pattern="public/javascripts/pages/*.js" />
        <File Path="public/javascripts/webapp.main.js" />
    </FileGroup>
    
    <!-- CSS -->
    <FileGroup Name="public/stylesheets/webapp.mashed.css" Minify="false">
        <!--<File Path="public/themes/css/mobile-dark.css" />-->
        <File Path="public/stylesheets/itabbar.css" />
        <File Path="public/stylesheets/add2home.css" />
        <File Path="public/stylesheets/spinningwheel.css" />
        <File Path="public/stylesheets/jquery.swipeButton-1.2.css" />
        <File Path="public/stylesheets/login.css" />
        <!--<File Path="public/stylesheets/style.css" />-->
    </FileGroup>
</root>