html, body
{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

#page
{
    position: absolute;
    width: 100%;
    height: 100%;
}

/************************************************
 * IMAGE LOADING GIF
 ***********************************************/

#loading
{
    display: none;
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.3);
    left: 20px;
    right: 20px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 38%;
    height: 80px;
    width: 80px;
    z-index: 999;
}

#loading img
{
    margin-top: 24px;
    margin-right: auto;
    text-align: center;
    border: 0px !important;
    height: 32px;
    width: 32px; /**background-color: transparent !important;**/
}

/************************************************
 * ABOUT PAGE  
 ***********************************************/
div#jqt #about
{
    padding: 50px 0px 40px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0;
    color: #999;
    font-size: 13px;
    text-align: center;
    background: #161618;
}
div#jqt #about p
{
    margin-bottom: 8px;
}
div#jqt #about a
{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

/************************************************
 * ANALYSIS
 ***********************************************/

#analysisSummaryTitle, .analysisSummarySection { margin: 0 30px; padding: 30px 0; border-bottom: 1px solid #000000; }
.analysisSummarySection { border-top: 1px solid #999999; }

.summaryTitle { display: inline-block; width: 60% !important; vertical-align: top; }
.summaryReturn { display: inline-block; width: 20% !important; vertical-align: top; }
.summaryReturn { text-align: right; }
 
#analysis_partial h2, #analysis_partial h3 {    
    font-family: GillSans-Bold !important;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important; 
    text-shadow: none !important;
    line-height: 0.9 !important;
    font-size: 16pt;
}
 
.summaryTitle h2 { font-family: GillSans-Bold !important; font-size: 16pt !important; color: #ffffff !important; }
.summaryReturn h2 { font-family: GillSans-Bold !important; font-size: 16pt !important; color: #18c900 !important; }
.summaryTitle h3 { font-family: GillSans-Light !important; font-size: 10pt !important; color: #000000 !important; }
.summaryReturn h3 { font-family: GillSans-Light !important; font-size: 10pt !important; color: #000000 !important; } 

.analysisComponentContainer {
    margin: 15px 0 0 0;
    padding: 15px;
    border: 1px solid #000000;
    background-color: #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 10px #666666;
}

.chartContainer 
{
    height: 500px;
}

#contribution_bar { height: 1000px; }

#fixedIncomeContribution_bar,
#carryContribution_bar,
#yieldCurveContribution_bar,
#riskNumbers_bar { display: inline-block; width: 50%; }

.headerRow { font-family: GillSans-Bold !important; }
.tableRow, .oddTableRow, .selectedTableRow, .hoverTableRow { font-family: GillSans-Light !important; }
.oddTableRow { background-color: #dddddd; }

/************************************************
 * WRAPPER
 ***********************************************/
#wrapper
{
    position: absolute;
    z-index: 1;
    top: 44px;
    bottom: 47px;
    left: 0;
    width: 100%;
    overflow: auto;
}

#scroller
{
    position: absolute;
    z-index: 1; /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    padding: 0;
}

#myFrame
{
    position: absolute;
    top: 0;
    left: 0;
}

#toolbar_logo
{
    width: 30px;
    height: 30px;
    background-image: url('../images/toolbar_logo.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: -4px;
}

/************************************************
 * CUSTOMIZED THEME
 ***********************************************/
/* 
#jqt > *
{
    background: #ffffff;
}

#jqt .toolbar
{
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CD6B74), to(#B01825), color-stop(.50,#B9343F),color-stop(.51,#B01825));
    position: relative;
}

#jqt ul li a.active, #jqt ul li a.button {
    background-color: #9b0b12;
    color: #fff;
}
*/
.modalBackground 
{
	width: 100%;
    height: 100%; /*-webkit-border-radius: 10px;*/
    background-color: rgba(0,0,0,.6);
    position: absolute; /*margin: auto;*/
    padding: 0px;
    left: 0;
    top: 0; /*margin:-16px 0 0 -16px;*/
    display: none;

}

#myloading img, #myLoadingCharts img
{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
}

#loadingText {
	width: 200px;
	position: absolute;
    left: 50%;
    top: 50%;
    margin: 40px 0 0 -100px;
    color: #ffffff;
    text-align: center;
}
/*
#myloading
{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    padding: 0px;
    left: 0;
    top: 0;
    display: none;
}

#myLoadingCharts
{
    width: 320px;
    height: 240px;
    position: absolute;
    padding: 0px;
    left: 50%;
    top: 50%;
    margin: -120px 0 0 -160px;
    display: none;
    background-image: url('../images/loading_charts.png');
    background-repeat: no-repeat;
}

#myLoadingCharts img
{
    width: 126px;
    height: 22px;
    position: absolute;
    left: 50%;
    top: 198px;
    margin: 0 0 0 -63px;
}
*/


.float
{
    float: left;
}

.toolbox
{
    width: 665px;
    height: 85px;
    margin: 0 auto;
    padding-top: 5px;
}
.gray_button
{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
}

#btn_asset
{
    background-image: url('../images/btn_asset.png');
}
#btn_attribution
{
    background-image: url('../images/btn_attribution.png');
}
#btn_balanced
{
    background-image: url('../images/btn_balanced.png');
}
#btn_contribution
{
    background-image: url('../images/btn_contribution.png');
}
#btn_fixed-income
{
    background-image: url('../images/btn_fixed-income.png');
}
#btn_performance
{
    background-image: url('../images/btn_performance.png');
}
#btn_risk
{
    background-image: url('../images/btn_risk.png');
}
.dark-box
{
    border-radius: 10px;
    background-color: #3f3f3f; /*     background-image: -webkit-gradient(linear, center top, center bottom, from(#3f3f3f), to(#3f3f3f));     background-image: -webkit-linear-gradient(top, #3f3f3f, #3f3f3f);     */
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 7px rgba(0,0,0,0.4);
    margin: 10px;
}

.light-box
{
    border-radius: 10px;
    background-color: #fff; /*     background-image: -webkit-gradient(linear, center top, center bottom, from(#3f3f3f), to(#3f3f3f));     background-image: -webkit-linear-gradient(top, #3f3f3f, #3f3f3f);     */
    -webkit-box-shadow: 0 1px 0 black, inset 0 1px 7px rgba(0,0,0,0.4);
    margin: 10px;
}

.small-list {
	font-size: 12px;
}

#jqt .elegant
{
    color: #ffffff !important;
    text-shadow: #000 0 1px 0 !important;
    font-weight: normal;
    font-size: 24px;
    font-family: "BodoniSvtyTwoITCTT-Book" !important;
}

/************************************************
 * TOOLBAR BUTTONS W/ICONS
 ***********************************************/
.toolbar_button 
 {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -4px;
 }
     
.favourite_on  { background-image: url('../images/btn_favourites_on.png'); }     
.favourite_off { background-image: url('../images/btn_favourites_off.png'); }