html, body
{
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

#page
{
    position: absolute;
    width: 100%;
    height: 100%;
}

/************************************************
 * IMAGE LOADING GIF
 ***********************************************/

#loading
{
    display: none;
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.3);
    left: 20px;
    right: 20px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 38%;
    height: 80px;
    width: 80px;
    z-index: 999;
}

#loading img
{
    margin-top: 24px;
    margin-right: auto;
    text-align: center;
    border: 0px !important;
    height: 32px;
    width: 32px;
}

/************************************************
 * ANALYSIS
 ***********************************************/

#analysisSummary {
    margin: 0; 
    padding: 10px 30px; 
    border-bottom: 1px solid #000000; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px;
    height: 36px;
    z-index: 1000;
    overflow: hidden;
}

.analysisSummarySection {
    margin: 0 30px; 
    padding: 30px 0; 
    border-bottom: 1px solid #000000;
}

.summaryTitle { display: inline-block; width: 60% !important; vertical-align: top; }
.summaryReturn { display: inline-block; width: 20% !important; vertical-align: top; }
.summaryReturn { text-align: right; }
 
#analysis_partial h2, #analysisSummary h2, #analysisSummary h3 {    
    font-family: HelveticaNeue-Bold !important;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-margin-before: 0 !important;
    -webkit-margin-after: 0 !important; 
    text-shadow: none !important;
    line-height: 0.975em;
    font-size: 16pt;
}
 
.summaryTitle h2, .summaryReturn h2 {
    font-family: HelveticaNeue-Bold !important; 
    color: #ffffff !important;
}

.summaryTitle h2 { text-transform: uppercase; }
.summaryTitle h3 { font-family: HelveticaNeue-Light !important; font-size: 10pt !important; color: #000000 !important; }
.summaryReturn h3 { font-family: HelveticaNeue-Light !important; font-size: 10pt !important; color: #000000 !important; } 

.analysisComponentContainer {
    margin: 0 0 0 0;
    padding: 15px;
    border: 1px solid #000000;
    background-color: #ffffff;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: inset 0 0 10px #666666;
    overflow: hidden;
    -webkit-transition: height .5s;
    height: 500px;
}

.analysisComponentContainer h2 {
    color: #000000 !important;
    font-size: 24px !important;
    font-family: HelveticaNeue-Bold !important; 
    font-weight: normal !important; 
    text-shadow: none !important;
    margin: 0;
    padding: 0;
    text-align: center;
}

.analysisComponentHeader 
{
    position: relative;
}

.analysisComponentFullScreenButton
{
    position: absolute;
    right: 10px;
    top: 0;
    background-image: url('../images/btn_maximize.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.chartContainer 
{
    width: 960px;
    height: 500px;
    background-color: transparent;
    -webkit-transition: -webkit-transform .25s;
}

.halfSizeChart 
{
	/*display: inline-block; */
	float: left;
	width: 50%;
}

#contribution_bar { height: 1000px; }

#fixedIncomeContribution_bar,
#carryContribution_bar,
#yieldCurveContribution_bar,
#riskNumbers_bar { display: inline-block; width: 50%; }

.headerRow { font-family: HelveticaNeue-Bold !important; }
.tableRow, .oddTableRow, .selectedTableRow, .hoverTableRow { font-family: HelveticaNeue-Light !important; }
.oddTableRow { background-color: #dddddd; }

/************************************************
 * WRAPPER
 ***********************************************/
#wrapper
{
    position: absolute;
    z-index: 1;
    top: 44px;
    bottom: 47px;
    left: 0;
    width: 100%;
    overflow: auto;
}

#scroller
{
    
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    padding: 0;
    
	/*width:2048px;
	height:100%;
	float:left;
	padding:0;*/
}

#myFrame
{
    position: absolute;
    top: 0;
    left: 0;
}

#toolbar_logo
{
    width: 30px;
    height: 30px;
    background-image: url('../images/toolbar_logo.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: -4px;
}

/************************************************
 * CUSTOMIZED THEME
 ***********************************************/

.modalBackground 
{
    background-color: rgba(0,0,0,.6);
    padding: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#myloading
{
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;	
}

#myloading img, #myLoadingCharts img, #turnLoadingMask img
{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
}

#loadingText {
	width: 200px;
	position: absolute;
    left: 50%;
    top: 50%;
    margin: 25px 0 0 -100px;
    color: #ffffff;
    text-align: center;
    font-family: HelveticaNeue-Light; 
    font-size: 10pt;
}

.genericLoadingMask
{
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.float
{
    float: left;
}

.toolbox
{
    width: 665px;
    height: 85px;
    margin: 0 auto;
    padding-top: 5px;
}
.gray_button
{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    float: left;
    padding-left: 10px;
    padding-top: 5px;
}

.centeredText
{
    text-align: center !important;	
}

.dark-box
{
    border-radius: 10px;
    background-color: #3f3f3f;
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 7px rgba(0,0,0,0.4);
    margin: 10px;
}

.light-box
{
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 black, inset 0 1px 7px rgba(0,0,0,0.4);
    margin: 10px;
}

.small-list {
	font-size: 12px;
}

#jqt .elegant
{
    color: #ffffff !important;
    text-shadow: #000 0 1px 0 !important;
    font-weight: normal;
    font-size: 24px;
    font-family: "BodoniSvtyTwoITCTT-Book" !important;
}

/************************************************
 * TOOLBAR BUTTONS W/ICONS
 ***********************************************/
.toolbar_button 
 {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -4px;
 }
     
.favourite_on  { background-image: url('../images/btn_favourites_on.png'); }     
.favourite_off { background-image: url('../images/btn_favourites_off.png'); }

.console_on  { background-image: url('../images/btn_console_on.png'); }     
.console_off { background-image: url('../images/btn_console_off.png'); }

/************************************************
 * GENERIC CONTAINER
 ***********************************************/

.genericContainer {
    margin: 15px;
    padding: 30px;
    border: 1px solid #000000;
    background-color: #ffffff;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: inset 0 0 10px #666666;
    height: 100%;
}

/************************************************
 * EULA
 ***********************************************/

#eula_partial {
    font-size: 12px; 
    font-family: HelveticaNeue-Light;
}

#eula_partial td { vertical-align: top !important; }
#eula_partial p, #eula_partial table { margin: 0 0 20px 0; }

#eula_partial b,
#eula_partial strong, 
#eula_partial p.altHeader,
#eula_partial p.paragraphBold {
    font-family: HelveticaNeue-Bold; 
}

#eula_partial p.altHeader {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #aaaaaa;
}

/************************************************
 * ABOUT PAGE
 ***********************************************/

#aboutLogo {
    padding: 5px;
    background-color: #b5121b;
    -webkit-border-radius: 15px;    
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px;
}

#about_partial .genericContainer {
    text-align: center; 
    font-size: 12px; 
    font-family: HelveticaNeue-Light;
    text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0;
}

#about_partial h2 {
    color: #000000 !important;
    font-size: 24px !important;
    font-family: HelveticaNeue-Bold !important; 
    font-weight: normal !important; 
    text-shadow: none !important;
    margin: 0;
    padding: 0;
}

#about_partial p { margin: 0 0 20px 0; }
#about_partial a { text-shadow: none !important; }

#about_partial .links a {
    display: inline-block;
    padding: 0 10px 0 0; 
    border-right: 1px solid #aaaaaa; 
    margin: 0 10px 0 0;    
}

#about_partial .last, #about_partial .links {
    padding: 0 !important; 
    margin: 0 !important; 
    border: 0 !important; 
}

.testBox
{
    width: 100%; 
    height: 400px; 
    background-color: #fff; 
    float: left;
    margin: 10px;
}

#fullScreenPage 
{
	width: 100%;
	height: 100%;
	z-index: 10000 !important;
	position: absolute;
	background: #fff;
	opacity: 0;
	display: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: inset 0 0 10px #666666;
    overflow: hidden;
    position: absolute;
}

#fullScreenContainer
{
    background-color: transparent;
    position: absolute;
    margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;    
}

#fullScreenPage h2 {
    color: #000000 !important;
    font-size: 24px !important;
    font-family: HelveticaNeue-Bold !important; 
    font-weight: normal !important; 
    text-shadow: none !important;
    margin: 0;
    padding: 0;
    text-align: center;
}

#fullScreenHeader 
{
    position: relative;
    padding-top: 5px;
}

#minimizeButton
{
    position: absolute;
    right: 15px;
    top: 10px;
    background-image: url('../images/btn_minimize.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

#smallLogo
{
    position: absolute;
    left: 15px;
    top: 10px;
    background-image: url('../images/mini_logo.png');
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

#fullScreenSummary {
    margin: 0; 
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    z-index: 1000;
}

#fullScreenSummary .summaryTitle { display: inline-block; width: 60% !important; vertical-align: top; }
#fullScreenSummary .summaryReturn { display: inline-block; width: 20% !important; vertical-align: top; }
#fullScreenSummary .summaryReturn { text-align: right; }
 
#fullScreenSummary .summaryTitle h2, #fullScreenSummary .summaryReturn h2 {
    font-family: HelveticaNeue-Bold !important; 
    color: #555 !important;
    font-size: 10pt !important;
    text-align: left;
}

#fullScreenSummary .summaryTitle h2 { text-transform: uppercase; }
#fullScreenSummary .summaryTitle h3 { font-family: HelveticaNeue-Light !important; font-size: 8pt !important; color: #aaa !important; text-align: left;}
#fullScreenSummary .summaryReturn h2 { text-align: right; }
#fullScreenSummary .summaryReturn h3 { font-family: HelveticaNeue-Light !important; font-size: 8pt !important; color: #aaa !important; text-align: right;} 

#fullScreenMask
{
    margin: 0 0 0 0;
    /*padding: 15px;*/
    background-color: #000;
	width: 100%;
	height: 100%;
	position: absolute;        
	opacity: 0;
	z-index: 10001;
}

#turnIcon
{
    background-image: url('../images/turn.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;    
    z-index: 10002;
}